.cards{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;

  &__column{
    flex: 1 0 rem(335px);
    padding: rem(10px);

  }
  &__column-lg{
    flex: 1 0 100%;
    padding: rem(10px);

  }
  &__button{
    display:flex;
    justify-content: center;

    margin-top: rem(20px);

  }
}