.header {
    position: sticky;
    top: 0;
    z-index: 1;

    height: rem(105.32px);
    width: 100%;

    box-shadow: $box-shadow-header;
    background: $color-background-light;

    &__row{
        height: rem(64.32px);
        width: 100%;

        display:flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__column-1{
        display:flex;
        order: 1;

        padding-left:rem(20.54px);

        height: 100%;
        width: 50%;
    }

    &__column-2{
        display: flex;
        order: 3;

        width: 100%;
    }

    &__column-3{
        display: flex;
        order: 2;

        margin-right: rem(20.54px);
        height: 100%;
    }
}