.icon {

	&--close {
		width: rem(12px);
		height: rem(12px);
	}
	&--menu {
		width: rem(21px);
		height: rem(14px);
	}

	&--arrow-right {
		width: rem(6px);
		height: rem(10px);
	}

	&--arrow {
		width: rem(13px);
		height: rem(12px);
	}

	&--comment {
		width: rem(12.88px);
		height: rem(12px);
	}
	&--dropdown-close{
		width: rem(10px);
		height: rem(5px);
	}
	&--dropdown-open{
		width: rem(10px);
		height: rem(5px);
	}
	&--logo {
		width: rem(136px);
		height: rem(31px);
	}
	&--logo-footer {
		width: rem(95px);
		height: rem(19px);

		&:hover {
			color: $slate-gray;
		}
	}
	&--eye {
		width: rem(15px);
		height: rem(8px);
	}

	&--info {
		width: rem(24px);
		height: rem(24px);

		&-important{
			color: $color-info-icon;
		}
	}

	&--instagram {
		width: rem(40px);
		height: rem(40px);

		&:hover {
			color: $slate-gray;
		}
	}

	&--like {
		width: rem(14px);
		height: rem(12px);
	}

	&--profile {
		width: rem(25px);
		height: rem(24px);
	}


	&--question {
		width: rem(20px);
		height: rem(20px);
	}

	&--search {
		width: rem(24px);
		height: rem(24px);
	}

	&--star {

		width: rem(25px);
		height: rem(24px);
	}

	&--youtube {
		width: rem(40px);
		height: rem(40px);

		&:hover {
			color: $slate-gray;
		}
	}
	&--userpic{
		width: rem(40px);
		height: rem(40px);
	}
}
