.main {
  background: $color-background;

  min-height: calc(100vh - 274px);

  @media (#{$screen-tablet}){
    min-height: calc(100vh - 102px);
  }

  &__container{
    margin: $container-horizontal-margin-auto;

    height: 100%;

    @media (#{$screen-desktop}){
      padding: 0 rem($container-horizontal-padding-desktop);
    }

  }
  &__notifications{
    margin-top: rem(145px);
    width: 100%;
  }

  &__about {
    margin-top: rem(40px);
    padding: 0 $container-horizontal-padding-mobile;

    @media (#{$screen-desktop}){
      padding: 0 ;
    }
  }

  &__tabs{
    margin-top: rem(40px);
    padding: 0 $container-horizontal-padding-mobile;

    @media (#{$screen-desktop}){
      padding: 0 ;
    }
  }

  &__cards{
    margin-top: rem(30px);
    margin-bottom: rem(100px);
    padding: 0 rem(20px);
    @media (#{$screen-desktop}){

    }
    @media (#{$screen-desktop}){
      margin-top: rem(51px);
      padding: 0 ;
    }
  }
}