.notifications {
  width: 100%;

  display:flex;
  padding-left: 0;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  &__item{
    margin-right: rem($slider-margin-mobile);

    &:last-child{
      margin-right: 0;
      padding-right: rem(20px);
    }

    @media (#{$screen-desktop}){
      margin-right: rem($slider-margin-desktop);

      &:last-child{
        padding-right: 0;
    }
   }
  }
}

