.notifications {
  display: flex;
  overflow: scroll;


  &__item {
    padding-right: rem(30px);

    &:last-child {
      padding-right: rem(20px);
    }

    &:first-child {
      padding-left: rem(20px);

      @media (#{$screen-desktop}){
        padding: 0 ;
      }

    }
  }
}
