.profile{
    cursor: pointer;

    height: 100%;

    display:flex;
    align-items: center;

    @media (#{$screen-tablet}){

        border-left: solid 1px $athens-gray;

        justify-content: flex-end;
        width: rem(148px);
    }

    &__avatar{
        display: none;

        @media (#{$screen-tablet}){
            display: block;
        }
    }

    &__avatar-mobile{

        @media (#{$screen-tablet}){
            display: none;
        }

    }

    &__user-name{
        display: none;
        overflow: hidden;
        text-overflow: ellipsis;

        margin: 0 rem(10px) 0 rem(19px);

        cursor: pointer;

        @media (#{$screen-tablet}){
            display: block;
        }
    }

    &__text{
        @include text-small;
        @include title($font-family-custom, $font-weight-regular, $line-height-little);

        color: #768298;


    }

    &__link{
        display:flex;
        align-items:center;

        & svg{
            color: $curious-blue;
        }
    }
}
