.tabs{
  width: 100%;
  border-bottom: solid 1px $color-directory;
  height: rem(40px);
  display:flex;

  &__item{
    position: relative;
    height: rem(40px);

    margin-right: rem(50px);

    color: $color-directory;

    &::after {
      display: none;
      position:absolute;

      bottom: 0;
      width: 100%;
      height: rem(4px);
      border-radius: rem(4px) rem(4px) 0 0;

      content: "";

      background: $cerise-red;
    }

    &--active{
      color: $color-text;

      &::after{
        display:block;
      }
    }
  }

  &__name{
    cursor: pointer;

    @include text-normal;
    @include title($font-family-custom-medium, $font-weight-medium, $line-height-normal);

    &:hover{
      color: $color-text;
    }
  }

}