@mixin object-fit($fit: fill, $position: null) {
    -o-object-fit: $fit;
    object-fit: $fit;

    @if $position {
        font-family: "object-fit: #{$fit}; object-position: #{$position}";

        -o-object-position: $position;
        object-position: $position;
    } @else {
        font-family: "object-fit: #{$fit}";
    }
}
@mixin indentation-zero{
    padding: 0;
    margin: 0;
}
@mixin vertical-margin-zero{
    margin-top:0;
    margin-bottom:0;
}
@mixin horizontal-margin-zero{
    margin-right:0;
    margin-left:0;
}
@mixin vertical-margin($vertical-margin) {
    margin-top: $vertical-margin;
    margin-bottom: $vertical-margin;
}

@mixin text-biggest{
    font-size:$font-size-biggest;
}
@mixin text-huge{
    font-size: $font-size-huge;
}
@mixin text-large{
    font-size: $font-size-large;
}
@mixin text-average{
    font-size: $font-size-average;
}
@mixin text-normal{
    font-size: $font-size-normal;
}
@mixin text-small{
    font-size: $font-size-small;
}
@mixin title($font-family, $font-weight, $line-height) {
  font-family:$font-family;
  font-weight: $font-weight;
  line-height: $line-height;
}