/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов

//static
$white: #ffffff;
$black: #333333;
$heather: #bbc4d6;
$alabaster: #fafafa;
$slate-gray: #768298;
$bunker: #121920;
$curious-blue: #34aadd;
$carnation: #f95a59;
$cerise-red: #dc2c53;
$wild-blue-yonder: #6680ae;
$tapestry:#A7507B;

//dynamic
$color-text: $bunker;
$color-text-link: $curious-blue;
$color-background: $alabaster;
$color-background-light: $white;
$color-directory: $heather;
$color-directory-active: $slate-gray;
$color-text-secondary: $slate-gray;
$color-footer-icon: $slate-gray;
$color-list-point: $tapestry;

$color-container: lightblue;



/**
* Fonts
*/

$font-family-custom: "Roboto-Regular";
$font-family-custom-medium: "Roboto-Medium";
$font-family-default: $font-family-custom, $font-family-custom-medium;
$font-size-base: 16px;


$font-path: '../fonts';

$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-biggest: 36px;
$font-size-huge: 30px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;

$line-height-default: 1.67;
$line-height-normal: 1.5;
$line-height-small: 1.2;


/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'

$screen-tablet:  "min-width: 768px";
$screen-desktop: "min-width: 1280px";

/**
* Layout
*/
$container-width-mobile: 335px;
$container-horizontal-padding-mobile: 20px;

$container-width-table: 650px;
$container-horizontal-padding-mobile: 59px;

$container-width-desktop: 1240px;
$container-horizontal-padding-desktop: 100px;

/**
* Sizes
*/
$window-width-tablet: 768px;
$window-width-mobile: 375px;

$button-lg-padding: 10px 30px;
$button-xs-padding: 6px 30px;


$input-height: 50px;
$input-lg-height: 100px;



/**
* Transitions and Animations
*/



/**
* Radius
*/
$border-radius-small: 2px;
$border-radius-medium: 5px;
$border-radius-large: 8px;
$border-radius-huge: 26px;


/**
* Box-shadows
*/
$box-shadow-header: 0px 3px 10px rgba(0, 0, 0, 0.05);
$box-shadow-footer: 0px 3px 10px rgba(0, 0, 0, 0.05);
$box-shadow-card: 0px 12px 40px rgba(0, 0, 0, 0.03), 0px 3px 10px rgba(164, 164, 164, 0.03);


/**
* Z-indexes
*/

