/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов
$outer-space: #202f2f;
$color-container: lightblue;
$color-text: $outer-space;



/**
* Fonts
*/

$font-size-base: 16px;

$font-name: Roboto-Regular;
$font-name_m: Roboto-Medium;

$font-path: '../fonts';

$font-weight-medium: 500;
$font-weight-regular: 400;


/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-medium: '(min-width: 768px)';



/**
* Layout
*/



/**
* Sizes
*/



/**
* Transitions and Animations
*/



/**
* Radius
*/



/**
* Box-shadows
*/



/**
* Z-indexes
*/

