/**
* Colors
*
* Название переменной конкретного цвета генерируется через сервис: http://chir.ag/projects/name-that-color/.
* Значение цвета всегда указывается в HEX-формате в нижнем регистре (кроме исключительных случаев).
*/
// Пример указания цветов
$outer-space: #202f2f;
$color-container: lightblue;
$color-text: $outer-space;



/**
* Fonts
*/

$font-family-custom: "Roboto-Regular";
$font-family-custom-medium: "Roboto-Medium";
$font-family-default: $font-family-custom, $font-family-custom-medium;
$font-size-base: 16px;


$font-path: '../fonts';

$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-biggest: 36px;
$font-size-huge: 30px;
$font-size-large: 24px;
$font-size-medium: 18px;
$font-size-normal: 16px;
$font-size-small: 14px;

$line-height-default: 1.67;
$line-height-normal: 1.5;
$line-height-small: 1.2;



/**
* Breakpoints
*/
// Пример указания медиазапросов, затем можно использовать ее как '@media #{$screen-medium} {...}'
$screen-medium: '(min-width: 768px)';



/**
* Layout
*/



/**
* Sizes
*/



/**
* Transitions and Animations
*/



/**
* Radius
*/



/**
* Box-shadows
*/



/**
* Z-indexes
*/

